* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Comfortaa', cursive;
}

footer {
    display: flex;
    justify-content: left;
}

$primary-color:#733FC8;
$font-color: #2C2A2E;

.container-fluid{
    color: $primary-color;
}

button {
    color: $primary-color;
}
